@tailwind base;
@tailwind components;
@tailwind utilities;
swiper {
    width: 100%;
    height: 100%;
  }
  body{
    background: s#B784B7;
  }
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  font-weight: 400;
  font-style: normal;
} 
.bg{
  box-shadow: purple 9px 6px 10px;
}
  .swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
  }
  .products-desc{
    padding : 25vh 20vw
  }
  

.Choices-swiper {
  width: 90%;
  padding:1vh 2vw
}
.choices-swiper-div h1{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;

}

.choices-swiper-slide {
  font-size: 18px;
  display: flex;
  border-radius: 10px;

}
.choices-swiper-slide  p{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  .cadbury-details h2{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color:gold;
    font-size:3vw
  }
  .cadbury-details h1,p{
    font-weight:4vw;
    font-family: "Architects Daughter", cursive;
    font-weight: 700;
    font-style: normal;
  }
  .cadbury-details h1{
    color:rgb(67, 6, 89);
    font-size:2vw;
  font-weight:900
  }
  .page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .page1 img{
    height: 100vh;
    width: 100%;
    }
    .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.5);  Adjust opacity as needed */
    padding: 10px;
    }
    .text {
    color: #f1cd76;
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    }
    .paragraph {
    color: white;
    font-size: 36px;
    font-family: "Helvetica", "Arial", sans-serif;
    }
    .paragraph span {
    opacity: 0;
    transition: opacity 0.5s ease;
    }
    #page2{
      margin-top: 0%;
      height: 180vh;
      background-color: rgb(92, 20, 151);
    }
    #page2 h2{
      margin-bottom: 20px;
      text-align: center;
      font-size: 100px;
      color: #bbaec4;
    }
    .containers{
      padding-top: 80px; 
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 100px; 
      width: 100%;
      height: 15vh;
      max-width: 1200px; 
      margin: 0 auto; 
    }
    .column{
      position: relative;
      background-color: #a370cf;
      padding: 20px;
      height: 15vh;
      box-sizing: border-box;
      text-align: center;
      transition: background-color 0.3s ease;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .column:hover{
      background-color: #b932e2;
    }
    .number{
      font-size: 28px;
      font-weight: bold;
    }
    .name{
      font-size: 28px;
      font-weight: bold;
      flex-grow: 1;
      margin: 0 10px; 
    }
    .column .button{
      font-size: 28px;
      padding: 10px 20px;
      background-color: #223e5c;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .button:hover{
      background-color: #0056b3;
    }
    .hover-image{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    .column:hover .hover-image{
      opacity: 1;
    }
    .hover-image img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    #page3{
      height: 300vh;
      background-color: #3f1a58;
    }
    h1{
      text-align: center;
      color: #bbaec4;
      font-size: 100px;
    }
    
    .image-row .image-container{
      height: 100%;
      align-items: center;
      width: 30%;
      border-radius: 20px;
      margin-right: 20px;
    }
      .image-container {
        position: relative;
        width: calc(33.3% - 20px); 
        margin: 10px;
        overflow: hidden;
        display: inline-block;
      }
      
      .image-container img {
        width: 100%;
        height: 350px;
        transition: transform 0.5s ease;
      }
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); 
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    
    .overlay h2, .overlay p {
      margin-bottom: 10px;
    }
    
    .overlay button {
      background-color: #3b084b; 
      color: white;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 106px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .overlay button:hover {
      background-color: #6129a6;
      padding: 10px 20px;
      border-radius: 5px;
    }
    
    .image-container:hover .overlay {
      opacity: 1; 
    }
    .moments-video{
      box-shadow: rgb(33, 1, 33);
    }
    
    .image-container:hover img {
      transform: scale(1.1); 
    }
  .navbar{
    font-family: "Merienda", cursive;
      font-optical-sizing: auto;
      font-weight:800;
      font-style: normal;
  }
    
  .swiper-slide-div {
      font-family: "Merienda", cursive;
      font-optical-sizing: auto;
      font-weight:800;
      font-style: normal;
  }
  .description h4{
    background-color: rgb(244, 20, 244);
    color: #000;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    width: 300px;
  }
  button{
    padding:1vh 1vw;
    border-radius:25px;
    width:10vw;
    background-color:rgb(95, 7, 131);
    color:gold;
    font-weight:700;
    font-size:1vw
  }
  .description .button {
    background-color: rgb(198, 95, 198);
    color: #000;

  }
 

 
.moments{
  padding:30vh 5vw;
}
  @media screen and (max-width:600px){
    body{
      overflow-y: visible;
    }
    .navbarCont{
      display: flex;
      gap:1rem;
      justify-content: space-between;
    }
    .navLogo{
      width:5rem
    }
    .navContent{
      font-size:10px;
      margin-left:1rem;
      margin-right:3rem
    }
    .cup{
      width:2rem;
      margin-left: 1rem;
    }
    .mySwiper{
      height:100vh;
    }
    .swiper-slide1 {
      background-size:cover;
      background-position: center;
      color: rgba(45, 5, 5, 0.329);
      font-size:0.5;
      font-family: "Merienda", cursive;
      font-optical-sizing: auto;
      font-weight:800;
      font-style: normal;

    }
    .new-creation-container{
      height:150vh;
    }
    .new-creation{
      width:700vw
    }
    .new-creation-img-cont{
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      place-items: center;
    }
    .yImg{
    width: fit-content;
    }
    .round{
      width: 100%;
    }
    .cadbury-world-title{
      font-size: 4vh;
    }
    .footer-links{
      display: flex;
      flex-wrap: wrap;
    }
    .our-products{
      display: flex;
      flex-wrap:wrap ;
    }
    .our-products-container{
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .img-container,.img-round, .our-product-img{
      width: 100%;
    }
    .img-round{
      height:50%
    }

  /* index.css */

/* Add this to make the text responsive */
@media screen and (max-width: 600px) {
  .home{
    overflow-x:hidden ;
  }
  .text-overlay{
    position:absolute;
    top:60%;
  }
  .paragraph{
    width:90vw;
  }
  .text-overlay-text{
    font-size: 10vh;
  }
  .radio-text{
    font-size:5vh;
  }
  .paragraph {
    font-size: 4vw;
  }
  .description h4 {
    font-size: 3vw;
  }
  .description .button {
    font-size: 2vw;
  }
  .overlay h2 {
    font-size: 2vw;
  }
  .overlay p {
    font-size: 2vw;
  }
  .overlay .button {
    font-size: 1vw;
  }

}

/* Add this to make the images responsive */


/* Add this to make the card container responsive */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left:-2vh;
  margin-top:-20vh
}

/* Add this to make the card responsive */
.card {
  width:50%;
  max-width: 600px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}
.page3{
  height:150vh;
  overflow-x :hidden;
}
.image-row{
  display: grid;
  width:250vw;
}
.new-creation-img-cont h1{
  font-size: 3vh;
  width:80%;
  color:white
}
.whitespace-nowrap{
font-size:5vh
}
.footer-image{
  width:87vw;
  gap:6vw
}
.cont{
  width:100vw;
  display:flex;
  flex-direction: column;
  align-items: center;

}
.cont .cadbury-world{
  width:100vw;
}
.products-desc{
  width : 100%;
}
.Product-cadbury{
  width:100%;
  display: flex;
  gap:30vw;
  flex-wrap: wrap
}
.explore-div{
width:100%;
display: flex;
flex-wrap:wrap;
gap:50vw

}
.cadbury-img{
  height:50vh;
}
.cadbury-img img{
 width: 80vw;
}
.choices-img-changer{
  margin-top: -50vh;
  width:100vw;
  height:40vh

}
.Product-cadbury .cadbury-details h1{
  font-size:5vw
}
.Product-cadbury .cadbury-details h2{
  font-size:10vw
}
.Product-cadbury .cadbury-details button{
  width:30vw;
  height:5vh;
  padding:none;
  font-size:3vw

}
.choices-img-changer img{
  width:100%;
}
.choices-img-changer h1{
  font-size:4vw;
  width:100%;
}
.choices-swiper-slide img{
  width:30;
  font-size:2vw;
}
.choices-swiper-slide button{
  width:15vw;
  font-size:2vw;
}
.cards{
  height:15vh
}
.cards-parent{
  height:50vh
}
.moments{
  display: flex;
  flex-wrap: wrap;
  padding:10vh 5vw;
}
.moments div{
  width:80%;
  margin-top: 10vh;

}
.page1 .paragraph{
  padding-left: 8vw;
}
#page2{
    padding:10vh 10vw;
    height:220vh;
    font-size:1vw
}
#page2 h2{
  font-size: 10vw;
  font-weight:bold;
}
.hover-image {
  height:25vh;
  width:35vw
}
.column .number,.name{
  font-size:20px;
}
.column .button{
  display:flex;
  justify-content: center;
  align-items: center;
  width:30vw;
  height:6vh;
  font-size:20px

}
.image-row{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  padding-left:20vw ;
}
.image-row h1{
  font-size: 10vw;
  width:100%;
  margin-bottom: 5vh;
  margin-left: -10vw;
  font-weight: bold;


}
.image-container{
  object-fit: cover;
}
.image-container img{
  height:25vh;
  width:60vw;
  
}
.img-container{
  position: relative;
}
.img-container img{
  position: absolute;
  top:17%;
  width:60vw
}
.overlay-content .button{
  font-size:10px;

}
}
  